meta(content-type='text/html', charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
meta(name="fragment", content="!")
link(rel='shortcut icon', type='image/png', href='/img/favicon.png?1')
title(ng-bind='title')

+css_list([
    '//fonts.googleapis.com/css?family=Roboto:400,400italic,500,700&subset=cyrillic,cyrillic-ext,latin',
    'bower_components/angular-material/angular-material.min.css',
    'css/style.css'
])