extends ../_layout

block content
    div.page(ng-cloak)
        div.content(ui-view)

    +js_list([
        '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js',
        'bower_components/angular/angular.min.js',
        'bower_components/angular-route/angular-route.min.js',
        'bower_components/angular-sanitize/angular-sanitize.min.js',
        'bower_components/angular-ui-router/release/angular-ui-router.min.js',
        'bower_components/angular-material/angular-material.min.js',
        'bower_components/angular-animate/angular-animate.min.js',
        'bower_components/angular-aria/angular-aria.min.js',
        'bower_components/angular-messages/angular-messages.js',
        'js/desktop.js',
        'js/controllers.js',
        'js/directives.js',
        'js/services.js'
    ])