body, html {
    background: #F4F4F4 !important;
    min-height: 100% !important;
}
.header {
    display: block;
}
.link {
    color: #219CF5;
}
.link:hover {
    color: rgba(45, 126, 180, 0.78);
}
.logo {
    text-decoration: none;
    display: inline-block;
}
.img {
    border: 0;
}
.page {
}
clusters {
    width: 100%;
    display: block;
    height: 700px;
    background: #ccc;
}
canvas {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #fff;
}